.khan__quote {
	width:790px;
	line-height: 34px;
	font-size: 24px;
	font-weight: normal;
	margin-block-start: 50px;
    margin-block-end: 36px;
    margin-inline-start: 0;
    margin-inline-end: 0;
	display: inline-block;
}